//text style mixin

@mixin text-label{
    color:;
    font-size: ;
    font-weight: ;
}

@mixin text-button{
    color:;
    font-size: ;
    font-weight: ;
}

@mixin text-input{
    color:;
    font-size: ;
    font-weight: ;
}

@mixin text-title{
    color:;
    font-size: ;
    font-weight: ;
}

@mixin text-subtitle{
    color:;
    font-size: ;
    font-weight: ;
}
