@import '../../03-fonts/fonts-style.scss';

main{
    display: flex;
    justify-content: center;
    .account-content{
        width: 60%;
        display: flex;
        flex-direction: column;

        h1{
            @include text-title;
        }

        form{
            input[type=hidden]{
                display: none;
            }
        }

        form.account-form-change{
            display: flex;
            flex-direction: column;
        }

    }
}