main {
  display: flex;
  justify-content: center; }
  main .account-content {
    width: 60%;
    display: flex;
    flex-direction: column; }
    main .account-content h1 {
      font-size: 40px;
      font-weight: 600; }
    main .account-content form input[type=hidden] {
      display: none; }
    main .account-content form.account-form-change {
      display: flex;
      flex-direction: column; }
