:root {
  /* BORDER */
  --button: 1px solid rgba(123, 97, 255, 1);
  --icon: 1px solid rgba(123, 97, 255, 1);
  --input: 1px solid rgba(123, 97, 255, 1);
  --toggle: 1px solid rgba(123, 97, 255, 1);
}
