@import '../../01-utils/variables/colors';
.avatar{
    color: var(--textOnColoredBg);
    background-color: var(--globalPrimaryBase);
    border-radius: 50%;
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;

    align-items: center;
    span{
        text-transform: uppercase;
        @include text-button;
        font-size: 12px;
    }
}