@import '../../01-utils/variables/colors';

.dark-mode-switch{
    background-color: var(--backgroundComponentDisabled);
    width: 64px;
    height: 24px;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 13px;
    input[type=checkbox]{
        display: none;
    }
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .dark-mode-switch-bubble{
        // position: absolute;
        // top:2px;
        // left: 2px;
        
        width: 22px;
        height: 22px;
        border-radius: 50%;


        background-color: var(--backgroundComponentParent);
    }
    transition: all 0.3s ease-in;
    &.switched{
        justify-content: flex-end;
        background-color:var(--backgroundButtonDefault);

        .dark-mode-switch-bubble{
            background-color: var(--backgroundComponentHoverOnDarker);
        }
    }
}